<section id="shopping-cart-on-the-shoulder-of-the-giants">
    <div class="container">
        <div class="start-row row">
            <h2>A PHP shopping cart standing on the shoulder of giants
                <a title="Permalink to this headline" href="#shopping-cart-on-the-shoulder-of-the-giants" class="headerlink">¶</a>
            </h2>
            <div class="col-md-12" id="shopping-cart-on-the-shoulder-of-the-giants">
                <p>
                    Leaphly is a PHP application for PHP >=5.3. It relies on the simplicity and power
                    of the  <a href="http://symfony.com/" target="_blank">Symfony2</a> framework and has been inspired also by
                    <a href="http://spreecommerce.com/" target="_blank">Spree commerce</a>,
                    <a href="http://cmf-symfony.com/" target="_blank">Symfony-CMF</a> and by the Symfony2 ecosystem.
                </p>
            </div>

            <div class="col-md-6">
                <h5>Your domain is the boss here.</h5>
                <p>
                    The heart of the e-commerce is your domain, which is made ​by the domains of each
                    of your product that you will sell.
                </p>
            </div>

            <div class="col-md-6">
                <h5>E-commerce</h5>
                <p>
                    This project does only one thing: handles the shopping cart, its states, its items.
                </p>
            </div>
        </div>
    </div>
</section>
