.item-form{
    min-height: 400px;
}

.pointer{
    cursor: pointer;
}

.cart{
    position: relative;
    background: #1abc9c;
    background-size: 16px 16px;
    padding: 19px 25px 20px;
}
.cart-head {
    border-radius: 8px 8px 0 0;
    background: #34495e url(../Resources/public/images/todo.png) 92% center no-repeat;
    padding: 18px 25px 19px 25px;
}
.cart ul {
    background-color: #2c3e50;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 0 0 6px 6px;
}

.cart li{
    background: #34495e url(../images/todo.png) 92% center no-repeat;
    background-size: 20px 20px;
    margin-top: 2px;
    padding: 5px 25px 9px 25px;
    position: relative;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
.cart p {
    text-align: center;
}
.cart .actions{
    padding: 10px 0;
}
.cart-is-empty {
    background: #34495e;
    padding: 20px 0;
}
.cart-is-empty img {
    display: block;
    margin: 0 auto;
}
.item{
    display: inline-block;
    width: 100%;
}
.item h5{
    text-align: center;
    text-transform: uppercase;
}
.delete-icon{
    float: right !important;
}
.cart .item div{
    margin: 0 auto;
    padding: 2px;
    font-size: 15px;
    width: 94%;
    text-transform: capitalize;
}
.cart .item em{
    float: right;
}
.cart .item .delete{
    text-align: right;
}

.semi-hidden, .item .id{
    color: transparent;
}
.centered {
    text-align: center;
}
.mini-text{
    font-size: 10px;
}
.total {
    padding: 10px;
}
.price{
    float: right;
    font-size: 27px;
}
.currency {
    font-size: 18px;
}
.strike {
    text-decoration: line-through;
}